    /* google fonts */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Roboto+Mono:wght@200;300&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


    /* .modal{
      margin-top: 10rem;
    } */
    .sp-up-pic {

      width: 100%;
      height: 210px;
      position: static;
      z-index: 0;

    }

    .sp-up-pic img {
      width: 100%;
      height: 210px;
      filter: grayscale(80%);

    }


    .sp-up-pic-body {
      padding-left: 6rem;
      position: absolute;
      /* left: 7rem; */
      top: 4rem;
    }

    .sp-up-pic-body h1 {
      color: white;
      font-family: sans-serif;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .sp-up-pic-body h5 {
      color: white;
      font-family: 'Roboto Mono', monospace;
      font-weight: 300;
    }

    .sp-header {
      width: 100%;
      text-align: center;

    }

    .sp-header h1 {
      font-size: 3rem;
      font-weight: bolder;
      color: rgb(89, 89, 89);
      /* margin: 3rem; */
      margin-top: 0rem;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .sp-header .line {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 3rem;
    }

    .sp-header .line .line1 {
      height: 3.5px;
      width: 19rem;
      background-color: #232C99;
      border: 1px solid #232C99;
      /* position:relative;
            left: .5rem; */
      /* margin-right: 1rem; */
    }

    /* .sp-header .line .line2{
            height: 3.5px;
            width: 12rem;
            background-color: rgb(89,89,89);
            border: 1px solid rgb(89,89, 89);
        } */
    /* speaker header part end */



 

    .sp-data {
      display: grid;
      justify-content: center;
      padding: 2rem;
    }

    .sp-data span {
      position: absolute;
      left: 13rem;
      top: 17rem;
      text-decoration: none;
      font-size: small;
      text-decoration: none;
      color: rgb(32, 32, 32);
    }

    .sp-data span a:link {
      text-decoration: none;
      color: rgb(40, 135, 237);
    }

    .sp-data span a:hover {
      text-decoration: none;
      color: rgb(52, 0, 148);
    }

    #iiii {
      font-size: x-small;
      color: rgb(148, 147, 147);
    }


    

    .speaker-card {

      max-width: 1230px;
      box-shadow: 0 0 20px #dbe7ff inset;
      background-color: #f3f6fc;
      border: 1px solid #abc5fa;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      margin-bottom: 2rem;
    }

    .speaker-card  .info {
      /* margin: 1rem; */
      /* width: 100%; */
      padding: 1rem;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 1px solid #abc8ff;
      border-top: 1px solid #76a6ff;
      background-color: #E7EDF9;
      text-align: center;
    }

    .speaker-card img {
      width: 200px;
      height: 250px;
      border-radius: 50%;
      margin: 1rem;
    }

    .row.upper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1.5rem;
      font-family: inherit;
    }

    .row.upper .coll {
      text-align: left;
      /* padding-top: 40px; */

    }

    .upper .name {
      font-weight: bold;
      color: #DC3545;
    }

    .upper .degree {
      color: #767373;
    }

    .upper .designation {
      color: #007BFF;
    }

    .upper .col-lg-3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .speaker-card .dummy {
      /* visibility:hidden; */
      display: none;
    }


    @media only screen and (max-width: 768px) {

      /* For mobile phones: */
      .row.upper .coll {
        text-align: center;


      }

      .sp-header h1 {
        font-size: 2rem;
      }

      .sp-up-pic-body {
        text-align: center;
        padding-left: 0rem;
        padding: .8rem;
      }

      .sp-up-pic-body h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
      }

      .sp-up-pic-body h5 {
        font-size: 1rem;
      }

      .linkToHome {
        display: none;
      }

      .sp-data {
        margin-top: 20px;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .speaker-card {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;

      }


    }